<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %t %C{1.}.%M:%L - %msg%n"/>
        </Console>
        <RollingFile name="aaa" fileName="/data/logs/test/log4j2.log"
                     filePattern="/data/logs/test/log4j2.log.%d{MM-dd-yyyy}">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %t %C{1.}.%M:%L - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="info" includeLocation="true">
            <AppenderRef ref="aaa"/>
        </Root>
    </Loggers>
</Configuration>